<h1>New Paso</h1>

<%= form_with model: @paso do |form| %>
  <div>
    <%= form.label :day %><br>
    <%= form.date_select :day %>
    <% @paso.errors.full_messages_for(:day).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br/>

  <div>
    <%= form.label :destination %><br/>
    <%= form.text_field :destination %>
    <% @paso.errors.full_messages_for(:destination).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

