<h1>New Paso</h1>

<%= form_with model: @paso do |form| %>
  <div>
    <%= form.label :day %><br>
    <%= form.date_select :day %>
  </div>

  <div>
    <%= form.label :destination %><br>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

